---
// 基础 样式
import "./Footer.less";
---

<footer class="vh-footer">
	<main>
		<p><a href="https://astro.build/" target="_blank" rel="noopener noreferrer"><img alt="Astro" src="/assets/images/footer/astro.svg" /></a><a href="https://github.com/uxiaohan/vhAstro-Theme" target="_blank" rel="noopener noreferrer"><img alt="vhAstro-Theme" src="/assets/images/footer/theme.svg" /></a><a href="/sitemap-index.xml" target="_blank"><img alt="sitemap" src="/assets/images/footer/sitemap.svg" /></a><a href="/rss.xml" target="_blank"><img alt="rss" src="/assets/images/footer/rss.svg" /></a></p>
	        <script defer src="https://hananalytics-2qg.pages.dev/tracker.min.js" data-website-id="IKUN-BLOG"></script>
<!-- 引入 Font Awesome 图标库 -->   
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<div style="text-align: center; margin-top: 50px;">

  <div class="welcome-text">欢迎各位IKUNS来到我的博客！</div>
  
  <img src="https://img.8888.vvvv.ee/file/图片/1750064706928.gif" alt="欢迎GIF" class="welcome-gif" style="margin-top: 15px; margin-bottom: 25px;" />

  <div class="social-icons">
    <a href="https://twitter.com/ikun202491" class="twitter" target="_blank" title="Twitter" style="font-size: 1.8em; margin: 0 15px;">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://facebook.com/profile.php?id=61552671213764" class="facebook" target="_blank" title="Facebook" style="font-size: 1.8em; margin: 0 15px;">
      <i class="fab fa-facebook"></i>
    </a>
    <a href="mailto:admin@ikun.x10.bz" class="email" title="发送邮件" style="font-size: 1.8em; margin: 0 15px;">
      <i class="fas fa-envelope"></i>
    </a>
  </div>

</div>

        </main>
</footer>
